modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["twilio:1.0.0", "revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_oldevxrYuvIpeeHGNBjONMUTMoL"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_YjtqNXXLJMfxPwuyTpIpISAeMZm"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_pxcZOARIqIlCbIcsaprqGZfKwgL"
REVENUECAT_PROJECT_ID = "projd5c73dce"
REVENUECAT_TEST_STORE_APP_ID = "app9f5ca7a9d3"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appe4aaa88bf8"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "appc4aa2645bf"
VITE_FIREBASE_API_KEY = "AIzaSyA9l3_vJpzH9oLTEjKymPfl49geIGEdNyA"
VITE_FIREBASE_AUTH_DOMAIN = "tether-b32a5.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "tether-b32a5"
VITE_FIREBASE_STORAGE_BUCKET = "tether-b32a5.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "716233159640"
VITE_FIREBASE_APP_ID = "1:716233159640:web:46fa578d5b4278824e38ad"
FIREBASE_PROJECT_ID = "tether-b32a5"
